.CFUserTextEncoding
.DS_Store
.Xauthority
.acs
.android/
.astah/
.bash_history
.bash_login
.bash_profile.macports-saved_2012-04-08_at_22:54:21
.cache/
.config/
.deltafy/
.dropbox/
.eclipse/
.eclipse_keyring
.fetchmailrc
.fontconfig/
.freemind/
.gem/
.gimp-2.8/
.gitk
.gradle/
.guard_history
.gvimrc
.heroku/
.irb-history
.lesshst
.local/
.m2/
.macports/
.mono/
.netrc
.npm/
.profile
.rbenv/
.recently-used
.redcuine/
.scala_history
.sh_history
.ssh/
.subversion/
.tgdb/
.titanium/
.twitvim.token
.unite/
.vim/
.viminfo
.vimrc
.vimrc~
.vimshell/
.zcompdump
.zhistory
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
bin/
data/
node_modules/
typescript
work/
./lib/
./package/
./src/org/
./lib/
./package/
./src/org/
.build/
.ivy2/
.jenkins/
.sbt/
